*
{
  margin: 0;
  padding: 0;
}

html{
    overflow-x: hidden;
}


body{
    background-color: #f5bf7d;
	position: relative;
	overflow-x: hidden;
}


.dm-sans-regular {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

h2 {
    color: black;
    font-family: Faculty Glyphic, serif;
    text-align: center;
    margin-top: 20px;
}

/* navbar section */

/*.navbar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #007a87;
  display: flex;
  align-items: center;
}*/

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  
}

.navbar li {
  display: flex;
}

/*.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 16px;
  font-family: Faculty Glyphic, serif;
}*/

.navbar img {
	width: 100px;
	height: 100px;
}

.navbar h1{
	font-size: 24px;
    color: white;
    font-family: Faculty Glyphic, sans-serif;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #56aab3;
}

.navbar li a {
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
	font-family: Faculty Glyphic, serif;

}

.navbar li a:hover {
    background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;

}

.nav-right img {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Maintains aspect ratio */
}