:root {
  --navbar-padding-vertical: 12px;
  --navbar-logo-height: 30px;
}

html, body {
  margin: 0; padding: 0; height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* navbar height = logo + 2 * padding */
  padding-top: calc(var(--navbar-logo-height) + var(--navbar-padding-vertical)*2);
}

.main-content {
  flex: 1;
}

/* footer flows naturally at bottom */
.footer, .footerc {
  background: #56aab3;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
