*
{
  margin: 0;
  padding: 0;
}

body{
    background-color: #f5bf7d;
	position: relative;
}

.dm-sans-regular {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    color: black;
    font-family: Faculty Glyphic, serif;
    text-align: center;
    margin-top: 20px;
}

/* navbar section */

.navbar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #007a87;
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  
}

.navbar li {
  display: flex;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 16px;
  font-family: Faculty Glyphic, serif;
}

.navbar img {
	width: 100px;
	height: 100px;
}

.navbar h1{
	font-size: 24px;
}

/* hero section */

.hero {
    display: flex;
    text-align: left;
}

.hero-content {
    display: flex;
    align-items: left;
    gap: 20px; /* Space between text and image */
    max-width: 100%;
    padding-top: 0px;
    flex-wrap: wrap; /* Ensures it adapts to smaller screens */
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-right: 0;
    right: 0px;
} 

.hero-image img {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    float: left;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    color: black;
    font-family: Faculty Glyphic, serif;
    padding: 20px;
    font-size: 48px;
}

.hero-text p {
    font-family: DM Sans;
    padding: 20px;
    font-size: 20px;
}

.hero-text .learn-more {
    padding: 15px 30px;
    font-size: 16px;
    /*font-weight: bold;*/
    background-color: #007a87;
    border: solid 2px white;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    justify-content: center;
    float: center;
    margin-left: 250px;
	/*margin-top: 10px;*/
	margin-bottom: 20px;
    font-family: Faculty Glyphic, serif;
}

/* link styling */

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

/* order section */

.order {
	display: flex;
    align-items: center; 
    justify-content: space-between; 
	background-color: #007a87;
}

.order-text {
    flex: 1; 
    max-width: 50%; 
	padding: 50px;
	margin-left: 250px;
}

.order-text h1 {
	color: black;
    font-family: DM Sans, sans-serif;
    text-align: left;
    margin-bottom: 10px;
	font-size: 36px;
}

.order-text p {
	font-family: DM Sans;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.order img {
	width: 40%;
    height: 40%;
    flex-shrink: 0;
}

.order .menu {
    padding: 15px 30px;
    font-size: 16px;
    /*font-weight: bold;*/
    background-color: #f5bf7d;
    border: solid 2px white;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    justify-content: center;
    float: center;
	margin-top: 20px;
	margin-bottom: 20px;
    font-family: Faculty Glyphic, serif;
}

  

/* map section */

.map {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
	gap: 50px;
    padding: 50px;
}

.map-text {
    flex: 1; /* Allows text to take up available space */
    max-width: 50%; 
}

.map h1 {
    color: black;
    font-family: Faculty Glyphic, serif;
    text-align: left;
    margin-bottom: 10px;
}

.map p {
    font-family: DM Sans;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.map img {
    width: 700px;
    height: auto;
    flex-shrink: 0; /* Prevents image from shrinking */
	border-radius: 25px;
	margin-bottom: 50px;
}

/* footer section */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007a87;
  color: white;
  text-align: left;
  font-family: DM Sans, sans-serif;
  padding: 15px;
}
