*
{
  margin: 0;
  padding: 0;
}

html{
    overflow-x: hidden;
}


body{
    background-color: #f5bf7d;
	position: relative;
	overflow-x: hidden;
}


.dm-sans-regular {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

h2 {
    color: black;
    font-family: Faculty Glyphic, serif;
    text-align: center;
    margin-top: 20px;
}

/* navbar section */

/*.navbar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #007a87;
  display: flex;
  align-items: center;
}*/

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  
}

.navbar li {
  display: flex;
}

/*.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 16px;
  font-family: Faculty Glyphic, serif;
}*/

.navbar img {
	width: 100px;
	height: 100px;
}

.navbar h1{
	font-size: 24px;
<<<<<<< HEAD
    color: white;
    font-family: Faculty Glyphic, sans-serif;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #56aab3;
}

.navbar li a {
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
	font-family: Faculty Glyphic, serif;
=======
    font-family: Faculty Glyphic, serif;
    color: white;
>>>>>>> dfv6
}

.navbar li a:hover {
    background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
<<<<<<< HEAD
=======
}

.nav-right img {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Maintains aspect ratio */
>>>>>>> dfv6
}

/* hero section */

.hero {
    display: flex;
    text-align: left;
}

.hero-content {
    display: flex;
    align-items: left;
    gap: 20px; /* Space between text and image */
    max-width: 100%;
    padding-top: 0px;
    flex-wrap: wrap;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-right: 0;
    right: 0px;
} 

.hero-image img {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    float: left;
}

.hero-text {
    flex: 1;
	padding: 30px 0px;
}

.hero-text h1 {
    color: black;
    font-family: Faculty Glyphic, serif;
    padding: 20px;
    font-size: 48px;
}

.hero-text p {
    font-family: Poppins, sans-serif;
    padding: 20px;
    font-size: 20px;
}

.hero-text .learn-more {
    padding: 15px 30px;
    font-size: 16px;
    /*font-weight: bold;*/
    background-color: #56aab3;
    border: solid 2px white;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    justify-content: center;
    float: center;
    margin-left: 250px;
	/*margin-top: 10px;*/
	margin-bottom: 20px;
    font-family: Faculty Glyphic, serif;
}

/* link styling */

a:link {
    text-decoration: none;
	color: white;
}

a:visited {
    color: white;
}

/* order section */

.order {
	display: flex;
    align-items: center; 
    justify-content: space-between; 
	background-color: #56aab3;
}

.order-text {
    flex: 1; 
    max-width: 50%; 
	padding: 50px;
	margin-left: 200px;
}

.order-text h1 {
	color: black;
    font-family: Faculty Glyphic, serif;
    text-align: left;
    margin-bottom: 10px;
	font-size: 36px;
}

.order-text p {
	font-family: Poppins, sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.order img {
	width: 40%;
    height: 40%;
    flex-shrink: 0;
}

.order .menu {
    padding: 15px 30px;
    font-size: 16px;
    /*font-weight: bold;*/
    background-color: #f5bf7d;
    border: solid 2px white;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    justify-content: center;
    float: center;
	margin-top: 20px;
	margin-bottom: 20px;
    font-family: Faculty Glyphic, serif;
}

/* location section */
.address{
	display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.address-text{
    flex: 1;
    max-width: 50%; 
}

.address h1 {
    color: black;
    font-family: Faculty Glyphic, serif;
    text-align: center;
    margin-bottom: 25px;
}

.address p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
	padding: 0px 40px;
}

.address img {
    width: 700px;
    height: auto;
    flex-shrink: 0; /* Prevents image from shrinking */
}


  

/* map section */

.map {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
	/*gap: 50px;
    padding: 50px;*/
	background-color: #56aab3;
}

.map-text {
    flex: 1; /* Allows text to take up available space */
    max-width: 50%; 
	gap: 50px;
    padding: 125px 50px;
}

.map h1 {
    color: black;
    font-family: Faculty Glyphic, serif;
    text-align: left;
    margin-bottom: 10px;
}

.map p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.map img {
    width: 700px;
    height: auto;
    flex-shrink: 0; /* Prevents image from shrinking */
}

/* footer section */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007a87;
  color: white;
  text-align: left;
  font-family: DM Sans, sans-serif;
  padding: 15px;
}