
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    background-color: bisque;
}

form {
    border: 3px solid #f1f1f1;
    padding: 20px;
    width: 350px;  
    background: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
}

img.avatar {
    width: 60%;  /* Adjust size */
    border-radius: 50%;
}

.container {
    padding: 16px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    form {
        width: 90%; 
    }
}
