.countryLink {
  display: none;
  position: absolute;
  z-index: 1001;
  text-decoration: none; 
}


.countryImage {
  display: block; 
  width: 300px;
  height: 300px;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  pointer-events: auto; 
}

.countryText {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 1001;
  pointer-events: none; 
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}