.countryImage {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 9999;
}

.countryText {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 9999;

}

