body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


.hero {
    text-align: center;
    padding: 50px 20px;
    background: url('../images/caribbean_bg.jpg') no-repeat center center/cover;
    color: rgb(141, 10, 10);
}

.hero h1 {
    font-size: 48px;
}

.hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ff6b35;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.featured {
    text-align: center;
    padding: 50px 20px;
}

.featured .dish {
    display: inline-block;
    width: 45%;
    margin: 20px;
}

.featured .dish img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #ff6b35;
  }
  